<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
      .flag {
        width: 140px;
        height: 84px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button type="button" on-click="obtenerClientes">Obtener clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">CustomerID</th>
              <th scope="col">ContactName</th>
              <th scope="col">City</th>
              <th scope="col">Phone</th>
              <th scope="col">Country</th>
            </tr>
          </thead>
          <tbody id="customers">
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.City]]</td>
                <td>[[item.Phone]]</td>
                <td>[[item.Country]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
          if( this.readyState == 4 && this.status == 200 ) {
            //this.clientes = JSON.parse( request.responseText ).value;
            //this.procesarClientes( request.responseText );
          }
        }
        //request.open( "GET", url, true );
        request.open( "GET", url, false );
        request.send();
        this.clientes = JSON.parse( request.responseText ).value;
      }
      procesarClientes( data ){
        console.log( data );
        this.clientes = JSON.parse( dat ).value;
      }
      anadirCliente(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open( "POST", url, false );
        request.setRequestHeader( "Accept", "application/json" );
        request.setRequestHeader( "Content-Type", "application/json" );
        var cliente = {
          "CustomerID" : "1234",
          "ContactName" : "Antonio",
          "CompanyName" : "BBVA"
        };
        var body = JSON.stringify( cliente );
        request.send( body );
        this.respuesta = request.responseText;
        console.log( this.respuesta );
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
