<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 140px;
        height: 84px;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/138/138255.svg" class="flag"/>
      </div>
      <div class="row">
        <button class="btn btn-info" type="button" on-click="incrementar">Cargar Datos</button>
      </div>
      <div class="row">
        <input type="text" placeholder="Indique su usuario" value="{{prop3::input}}" />
      </div>
      <div class="row">
        <span> Usuario ingresado: </span><h4>[[prop3]]</h4>
      </div>
      <div class="row">
        <span> Contador: </span><h4>[[prop2]]</h4>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1 </th>
              <td>Dolores</td>
              <td>Fuertes</td>
            </tr>
            <tr>
              <th>2</th>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: ''
          }
        };
      }
      incrementar(){
        this.prop2 ++;
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
